<div class="container custom-container-2">

    <!-- Show it when there is no employee -->
    <div class="no-data text-center" *ngIf="Book.length == 0">
      <p>There is no employee added yet!</p>
      <button class="btn btn-outline-primary" routerLink="/add-book">Add Empoyee</button>
    </div>
  
    <!-- Employees list table, it hides when there is no employee -->
    <div *ngIf="Book.length !== 0">
      <h3 class="mb-3 text-center">Books List</h3>
  
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Title</th>
              <th scope="col">Author</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let book of Book">
              <td>{{book.id}}</td>
              <td>{{book.title}}</td>
              <td>{{book.author}}</td>
              <td>{{book.description}}</td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="edit" 
                [routerLink]="['/edit-book']" [queryParams]="{prop: book.id}">Edit</span> &nbsp;&nbsp;
                <span class="delete" (click)="deleteBook(book.id)">Delete</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  
  </div>