.regbutton{
    margin-left: 39.25%;
    margin-top: 3%;
    width:150px;
    height:50px;
    font-size:22px;
    background-color: white;
    color: black;
    
}

.regbutton:hover{
    background-color: red;
    color: white;
}

.mat-drawer-container {
    background-color:rgb(5, 5, 5);
}

  