.pdfstyle{
    font-family: 'Times New Roman', 'Helvetica', Arial, sans-serif;
    font-size:medium;
    /* font-weight: lighter !important; */
    color: rgb(0, 0, 0);
    position:absolute;
}

.empsty{
    top: 167px;
    left: 270px;
}
.depsty{
    top: 203px;
    left: 270px;
}
.idsty{
    top:240px;
    left:270px;
}
.bgsty{
    top: 512px;
    left: 120px;
}
.phsty{
    top: 478px;
    left: 120px;
}
.dobsty{
    top: 443px;
    left: 120px;
}
.addsty{
    top: 548px;
    left: 120px;
    max-width: 400px;
}
.clsi{
    position: absolute;
    left: 34px;
    top: 130px;
}