.colo{
    background-color:white;
}

.regbutton{
    background-image: IDCardPath;
    left: 700px;
    top: 320px;
    width:150px;
    height:50px;
    font-size:22px;
    background-color: rgb(13, 18, 99);
    color: rgb(255, 251, 251);
    position: absolute;
}

.regbutton:hover{
    background-color: red;
    color: white;
}

.clfi{
    position: relative;
    top: 7px ;
    left: 100px;
}

.clsi{
    position: absolute;
    left: 126.5px;
    top: 130px;
}

.previewstyle{
    font-family: 'Times New Roman', 'Helvetica', Arial, sans-serif;
    font-size:medium;
    font-weight: bold;
    color: rgb(0, 0, 0);
    position:absolute;
}

.empsty{
    top: 172px;
    left: 360px;
}
.idsty{
    top: 243px;
    left: 360px;
}
.depsty{
    top: 207px;
    left: 360px;
}
.bgsty{
    top: 516px;
    left: 210px;
}
.phsty{
    top: 481.7px;
    left: 210px;
}
.dobsty{
    top: 447px;
    left: 210px;
}
.addsty{
    top: 552px;
    left: 210px;
    max-width: 400px;
}


